body{
    background-color: beige;
}
p {
    background-color: brown;
    text-align: justify;
    font-size: 20px;
}
.noticias{
    background-color: brown;
}
.contato {
    margin-top: 5px;
    background-color: brown ;
    padding: 5px;
    font-size: 15px;
}
