h1{
    text-align: center;
}
body{
    background-color: beige;
}
p {
    background-color: darksalmon;
    text-align: justify;
    font-size: 17px;
}
.noticias{
    background-color: darksalmon;
}
.contato {
    margin-top: 10px;
    background-color:darksalmon ;
    padding: 5px;
}
#esporte{
    color:mediumaquamarine;
    padding: 15px;
    background-color: brown;
}
a{
    color:crimson;
    margin-right: 20px;
    line-height: 30px;
}
a:hover{
    background-color: rgb(242, 123, 123);
    color: white;
    padding: 10px;
}
